/* 소제목 */
.board_title {
    margin: 15px;
    margin-left: 65px;
}

.board_title strong {
    font-size: 20px;
}
/* 투표글 전체 */
.board_wrap {
    /* border: 1px solid black; */
    border-radius: 5px;
    width: 900px;
    /* height: 300px; */
    margin: 5px auto;
}

/* 사이드 바 */
aside { 
    float: left;
    position: sticky;
    top: 180px;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 10px;
    padding: 5px;
    width: 130px;
    box-shadow: 2px 2px 2px gray;
}

aside ul li {
    padding: 5px;
    list-style: inside;
}

aside ul li:hover {
    font-weight: bold;
}
/* 투표글 작성 버튼 */
.button button {
   padding-right: 15PX;
   font-size: 23PX;
   float: right;
   border: none;
   background-color: transparent;
}
.button {
    /* position: relative; */
    background-color: #E6E6E6;
    /* border-top-left-radius: 5px;
    border-top-right-radius: 5px; */
    width: 800px;
    margin: 0 auto;
    height: 40px;
}

/* 투표글 작성창 숨기기 */
.hide{
    display: none;
}

/* 투표글 작성창 내용물 정렬용 */
.align {
    width: 550px;
    margin: 0 auto;
}

/* 투표글 작성창*/
.addChoice {
    top: 30px;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 800px;
    height: 100px;
    /* border: 1px solid black; */
    border-radius: 5px;
    padding: 10px;
    /* display: none; */
}
.addChoice p {
    display: inline-block;
    margin-right: 0;
    padding: 5px;
    width: 60px;
}
/* .addChoiceText {
    width: 100px;
} */

/* 투표 시작 버튼 */
#startChoice {
    float: right;
    border: 1px solid black;
    border-radius: 5px;
    width: 50px;
    height: 62px;
    margin: 5px 0;
    margin-right: 10px;
    white-space: normal;
    font-weight: bold;
}

#startChoice:active {
    background-color: black;
    color: white;
}
/* 투표글 수정 */
.editChoice {
	position:absolute;
	transform:translate(-50%, -50%);
	left: 50%;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 700px;
    height: 200px;
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(255, 253, 250);
    box-shadow: 0 0 5px gray;
}
.editChoice p {
    display: inline-block;
    margin-right: 0;
    padding: 5px;
    width: 60px;
}
.updVoteform{
	height:70px;
}
h3{
	padding:20px;
}
/* 투표 목록 */
.choiceList {
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 15px;	
    padding: 10px;
    width: 800px;
    height: 250px;
    background-color: rgb(255, 253, 250);
    border-radius: 5px;
    box-shadow: 0 0 5px gray;
	position: relative;
    top: 10px;
}
.choice_realtime {
    position: absolute;
    width: 750px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.chBox1{
	display:flex;	
	flex-direction:column;
	align-items:flex-end;
	position:absolute;
	left:0%;
}
.chBox2{
	display:flex;	
	flex-direction:column;
	align-items:flex-end;
	position:absolute;
	right:0%;
}
/* gradient 변경하기 */
:root{
	--gradient-colors: linear-gradient(to right, rgb(117, 211, 255), rgb(255, 133, 117));
}
.prcnt {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
    display: inline-block;
    border-radius: 5px;
    width: 500px;
    height: 50px;
	background: var(--gradient-colors);
    /* background: linear-gradient(to right, rgb(117, 211, 255)30%, rgb(255, 133, 117)70%); */

}
.count1{
    display: flex;
    align-items: center;
    width: 100px;
    font-size: 1.5em;
}
.count2{
    display: flex;
    align-items: center;
    width: 100px;
    font-size: 1.5em;
}
/* .choiceList {
    top: 30px;
    padding: 10px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 15px;
    width: 800px;
    height: 250px;
    border: 1px solid black;
    background-color: rgb(255, 253, 250);
    border-radius: 5px;
    box-shadow: 0 0 5px gray;
} */
.chSub{
    display: inline-block;
    padding: 15px;
    margin-bottom: 20px;
    width: 600px;    
    font-weight: bolder;
    font-size: 1.3em;
}
.prcnt p{
    position: relative;
    width: 30px;
    height: 20px;
    margin-left: 80px;
    top: 50%;
    margin-top: -15px;
    font-weight: bold;
    font-size: large;
}
.ch2{
    float: right;
    position: relative; /* 추가: 요소의 위치를 변경하려면 position을 설정해야 함 */
    left: 0; /* 초기 위치 */
}
.ch1, .ch2{
    display: inline-block;
    width: 120px;
    vertical-align: bottom;
    text-align: center;
    font-weight: bold;
    word-break: break-all;
}

#icon_upd{
	position:absolute;
	top:5%;
	right:7%;
    float: right;
    width: 50px;
    height: 50px; 
    cursor:pointer;
    z-index: 1;
}
#icon_del{
    float: right;
    width: 50px;
    height: 50px;    
    cursor:pointer;
}
.leftCheck:checked ~ .icon_boom1{
	padding:0;
}
.rightCheck:checked ~ .icon_boom2{
	padding:0;
}
label>input{
	display:none;
}
.icon_boom1{
    width: 50px;
    height: 50px;
    padding:10px;
    cursor:pointer;
}
.icon_boom2{
    width: 50px;
    height: 50px;
    padding:10px;
    cursor:pointer;
}
.ch_count{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.result1{
	width: 90px;
}
.result2{
	width: 80px;
}
.cDate{
	position: absolute;
	left:50%;
	top:77%;
    transform: translate(-50%, 100%);
    ;
}
/* </vote> */







